---
import MainLayout from '../layouts/MainLayout.astro'
import { GET } from './articles.json'

let response = await GET(Astro)
const data = await response.json()
---

<MainLayout>
  <div>
    <h1>Data:</h1>
    <pre>
      {JSON.stringify(data)}
    </pre>
  </div>
</MainLayout>