---
import MainLayout from '../layouts/MainLayout.astro'
import { getCollection } from 'astro:content'

const articles = await getCollection('articles')

console.log(articles)
---

<MainLayout>
	<div>Astro</div>
</MainLayout>